body{
  margin:0;
  font-family:sans-serif;
  background:#0b0f14;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:800px;
  padding:40px;
  background:rgba(255,255,255,0.05);
  border-radius:20px;
  box-shadow:0 0 40px rgba(0,255,255,0.2);
  text-align:center;
}

#jpWord{font-size:2.5rem;}
#romaWord{font-size:2rem;letter-spacing:3px;min-height:50px;}

#input{
  width:100%;
  font-size:1.8rem;
  padding:15px;
  margin-top:20px;
  border-radius:10px;
  border:none;
  background:#111;
  color:white;
}

.correct{
  color:#00ff88;
  text-shadow:0 0 20px #00ff88;
}
.gold{
  color:gold;
  text-shadow:0 0 20px gold;
}
.remaining{color:#555;}
.wrong{color:red;}

#romaWord span{transition:0.1s;}

#ranking{list-style:none;padding:0;}

#version{
  position:fixed;
  bottom:10px;
  right:10px;
  opacity:0.6;
}
